<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<html>
  <head>
    <meta charset="{{site.charset}}">
    <title>{{wp_title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}">
    {{function('wp_head')}}
    <script src="{{site.theme.link}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="sticky">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <a class="hdr-logo-link" href="/" title="Timber" rel="home">
                <h1 class="title">vermelho<div class="red">vivo</div></h1>
              </a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              {% for item in menu.items %}
              <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                <a href="{{item.link}}">{{item.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </section>
        </nav><!-- #access -->
        </div>
    </header>

        {% block content %}

        {% endblock %}

    <footer id="footer" class="row">
      {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
    <script src="{{site.theme.link}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.theme.link}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.theme.link}}/js/app.js"></script>
    <script src="{{site.theme.link}}/js/site.js"></script>
  </body>
</html>