<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<html>
<head>

  <meta charset="{{site.charset}}">
  <title>{{wp_title}}</title>
  <meta name="description" content="{{site.description}}">
  <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{site.theme.link}}/Font-Awesome/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{site.pingback_url}}">
  {{function('wp_head')}}
  <script src="{{site.theme.link}}/bower_components/modernizr/modernizr.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

  <div id="page-wrap" class="{{wp_title}}"


    {% block content %}

    {% endblock %}

    <footer id="footer">
      {% include 'footer.twig' %}
    </footer>
    


  </div>
  <script src="{{site.theme.link}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{site.theme.link}}/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{site.theme.link}}/js/foundation/foundation.clearing.js"></script>
  <script src="{{site.theme.link}}/js/app.js"></script>
  <script src="{{site.theme.link}}/js/site.js"></script>
  <!--<script src="{{site.theme.link}}/js/maps2.js"></script>-->
  <script>
    $(document).foundation();
  </script>
</body>
</html>
