{% extends "base.twig" %}

{% block content %}
<section id="destaques">
  <div class="row">
    {% for destaque in destaques | slice(0, 1) %}
    <div class="large-6 columns">
      <div class="post main">
        <img src="{{destaque.thumbnail.src}}" class="">
        <div class="content">
          <h2 class="title">{{destaque.title}}</h2>
          {{destaque.content | excerpt(30)}}
          <div class="meta">
            por <a href="">{{destaque.author}}</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="large-6 columns">
      <ul class="small-block-grid-2">
        {% for destaque in destaques | slice(1, 4) %}
        <li>
          <div class="post olders">
            <img src="{{destaque.thumbnail.src}}" class="" alt="Thumbnail para {{destaque.title}}">
            <div class="content">
              <h3 class="title">{{destaque.title}}</h3>
              <div class="meta">
                por <a href="">{{destaque.author}}</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}