{% extends "base-index.twig" %}

{% block content %}

<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">{{site.title}}</a></h1>
        <a href="#"><img src="img/zengueBlanco.png" alt=""height="auto" width="130"></a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul id="top-menu-bts" class="right">
        <li class="active"><a href="#">HOME</a></li>
        <li class="active"><a href="#sobre">SOBRE</a></li>
        <li class="active"><a href="#productos">PIEZAS</a></li>
        <li class="active"><a href="#donde">DONDE</a></li>
        <li class="active"><a href="#portofolio">PORTOFOLIO</a></li>
        <li class="active"><a href="#blog">BLOG(?)</a></li>
        <li class="active"><a href="#contacto">CONTACTO</a></li>
      </ul>
    </section>
  </nav>
</header>

<section id="home">
  <div class="bg-header">
    <!--Tentarei resover assim http://codex.wordpress.org/Custom_Backgrounds-->
    <img src="" alt="" class="">
  </div>

  <div class="row">
    <div class="small-12 columns">

      <img src="{{site.theme.link}}/images/logoZengueVert.png" alt="" class="bg-radius">


    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 small-centered columns">
      <ul class="small-block-grid-4 contato bg-radius" ><!-- href doesn't work for other than www or mail (check other forms) -->
        <li>
          <a data-contact="Contactame" href="#contacto">
            <i class="fa fa-envelope fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-pinterest="Pinterest" href="pinteres">
            <i class="fa fa-pinterest fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-googleplus="Zengue" href="zengue.google">
            <i class="fa fa-google-plus fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-facebook="Facebook" href="http://www.facebook.com">
            <i class="fa fa-facebook fa-lg"></i> </br>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!--Sobre-->
<section id="sobre">
  <div class="row">
    <div class="small-12 columns">
      {% for post in sobre %}
      <h2>{{post.post_title}}</h2>
      <div class="row fotos-sobre center">
        <div class="small-8 small-centered columns">
          <ul class="small-block-grid-1 medium-block-grid-3">
            <li class="show-for-medium-up"><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
            <li><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
            <li class="show-for-medium-up"><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-10 small-centered columns text-sobre">
          {{post.content}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!--Producto-->
<section id="productos">
  <div class="row">
    <div class="small-12 columns">
      <h2>PRODUCTOS</h2>
      <div class="productos">
        <ul class="medium-block-grid-4">
          {% for joia in joias | slice(0,4) %}
          <li>
            <div class="producto">
              <a href="{{joia.permalink}}">
              <p>{{joia.title}}</p>
              <img src="{{joia.thumbnail.src|resize(250, 300)}}" class="my-thumb-class" alt="Image for {{post.title}}">
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="center"><a class="tiny button b2x" href="#">ver mas trabajos</a></div>
    </div>
  </div>
</section>

<!--Donde-->
<section id="donde"><!-- possivel solução para criar o menu para o gmaps: usar data-long e data-lat nas tags do html. usar jquery para escutar o click na loja e setar uma variavel para [long,lat]. usar esta variavel para centralizar o gmapsu-->
  <div class="row">
    <div class="small-12 columns">
      <h2>DONDE</h2>
      <div class="row donde_content">
        <div class="medium-3 columns">

        	<ul id="marker_list" style="width:100%;"></ul>

        </div>
        <div class="medium-9 columns">
          <div id="map_canvas" style="width:100%; height:300px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Portfolio-->

<section id="portfolio">
  <div class="row">
    <div class="small-12 columns">
      <h2>PORTFOLIO</h2>
      {% for post in portfolio | slice (0,1) %}
        {{post.content}}
      {% endfor %}
    </div>
    <div class="center"><a class="tiny button b2x" href="#">ver mas portfolio</a></div>
  </div>
</section>



<!--Blog-->
<section id="blog">
  <div class="row">
    <div class="small-12 columns">
      <h2>BLOG</h2>
      <div class="row posts">
        <div class="small-12 small-centered medium-8 medium-centered columns">
          <ul class="row">
          {% for post in posts | slice(0,2) %}
            <li class="small-12 small-centered columns">
              {% if post.thumbnail.src %}

              <img src="{{post.thumbnail.src}}" alt="">

              {% endif %}

              <h3 class="center">{{post.title}}</h3>
              <p class="meta-post center">{{post.date}} by {{post.author.name}}</p>
              <p>{{post.get_preview(80,false, '')}}</p>
              <div class="readmore center">
                <hr/>
                <a href="{{post.permalink}}" class="tiny button">Read More</a>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="center"><a class="tiny button b2x" href="">leer blog</a></div>
  </div>
</section>

<section id="contacto">
  <div class="row">
    <div class="small-12 columns">
      <h2>CONTACTO</h2>
      <div class="contacto">
      <div class="row">
        <div class="small-12 medium-8 small-centered columns">
          <ul class="dados small-block-grid-2" ><!-- href doesn't work for other than www or mail (check other forms) -->
            <li class="contact_icon">
              <a href="tel:+1800229933" >
                <i class="fa fa-map-marker fa-2x"></i> </br>
              </a>
              <p class"txt-info">C/ Vallfogona,x<br>Grácia - Barcelona<br>08XXX</p>
            </li>
            <li class="contact_icon">
              <a href="tel:+1800229933">
                <i class="fa fa-mobile-phone fa-2x"></i> </br>
              </a>
              <p class"txt-info">+1800229933</p>
            </li>
          </ul>
        </div>
      </div>

      <form>
        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <label>
              <input type="text" placeholder="Nombre" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <label>
              <input type="text" placeholder="E-mail" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <label>
              <textarea placeholder="Mensage"></textarea>
            </label>
          </div>
        </div>
      </form>
      </div>
      <div class="center"><a class="tiny button b2x" href="#">envía</a></div>

      <div class="small-12 medium-4 small-centered columns">
        <ul class="small-block-grid-4 contato"><!-- href doesn't work for other than www or mail (check other forms) -->
          <li>
            <a data-contact="Contactame" href="#contacto">
              <i class="fa fa-envelope fa-lg"></i> </br>
            </a>
          </li>
          <li>
            <a data-pinterest="Pinterest" href="pinteres">
              <i class="fa fa-pinterest fa-lg"></i> </br>
            </a>
          </li>
          <li>
            <a data-googleplus="Zengue" href="zengue.google">
              <i class="fa fa-google-plus fa-lg"></i> </br>
            </a>
          </li>
          <li>
            <a data-facebook="Facebook" href="http://www.facebook.com">
              <i class="fa fa-facebook fa-lg"></i> </br>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
{% endblock %}
