<section id="sobre">
  <div class="row">
    <div class="small-12 columns">
      <h2>{{post.post_title}}</h2>
      <div class="row fotos-sobre center">
        <div class="small-8 small-centered columns">
          <ul class="small-block-grid-1 medium-block-grid-3">
            <li class="show-for-medium-up"><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
            <li><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
            <li class="show-for-medium-up"><img src="{{post.thumbnail.src}}" alt="foto zengue"></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-10 small-centered columns text-sobre">
          {{post.content}}
        </div>
      </div>
    </div>
  </div>
</section>
