{% extends "base.twig" %}

{% block content %}

<section id="joia-single">
  <div class="row">
    <div class="small-4 columns">
      <h2>PIEZAS</h2>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="small-8 small-centered columns">
      <ul class="small-block-grid-1 medium-block-grid-5 menu">
        <li><a href="#" class="button small expand radius">todos</a></li>
        <li><a href="#" class="button small expand radius">anillos</a></li>
        <li><a href="#" class="button small expand radius">collares</a></li>
        <li><a href="#" class="button small expand radius">pulseras</a></li>
        <li><a href="#" class="button small expand radius">pendientes</a></li>
      </ul>
    </div>
  </div>

    <br />
  <div class="row">
    <div class="small-12 medium-6 medium-offset-1 columns carroussel">
      <ul class="example-orbit" data-orbit>
            {% if post.get_field('wpcf-imagen-1a') %}
            <li>
              <img src="{{post.get_field('wpcf-imagen-1a')|resize(500, 300)}}" alt="slide 2" />
              <div class="orbit-caption">
                {{post.get_field('wpcf-caption-1')}}
              </div>
            </li>
            {% endif %}
            {% if post.get_field('wpcf-imagen-2') %}
            <li>
              <img src="{{post.get_field('wpcf-imagen-2')|resize(500, 300)}}" alt="slide 3" />
              <div class="orbit-caption">
                {{post.get_field('wpcf-caption-2')}}
              </div>
            </li>
            {% endif %}
            {% if post.get_field('wpcf-imagen-3') %}
            <li>
              <img src="{{post.get_field('wpcf-imagen-3')|resize(500, 300)}}" alt="slide 4" />
              <div class="orbit-caption">
                {{post.get_field('wpcf-caption-3')}}
              </div>
            </li>
            {% endif %}
            {% if post.get_field('wpcf-imagen-4') %}
            <li>
              <img src="{{post.get_field('wpcf-imagen-4')|resize(500, 300)}}" alt="slide 5" />
              <div class="orbit-caption">
                {{post.get_field('wpcf-caption-4')}}
              </div>
            </li>
            {% endif %}
            {% if post.get_field('wpcf-imagen-5') %}
            <li>
              <img src="{{post.get_field('wpcf-imagen-5')|resize(500, 300)}}" alt="slide 1" />
              <div class="orbit-caption">
                {{post.get_field('wpcf-caption-5')}}
              </div>
            </li>
            {% endif %}
      </ul>
    </div>
    <div class="small-12 medium-3 medium-offset-1 end columns ficha-tecnica">
      <h3>{{post.title}}</h3>
      <p>{{post.content}}</p>
    </div>
  </div>
</section>

<br />
{% endblock %}
