{% extends "base.twig" %}

{% block content %}
<div id="single">
  <div class="row">
    <article class="post-type-{{post.post_type}} large-9 columns" id="post-{{post.ID}}">
      <section class="article-content">
        <h2 class="article-h2">{{post.title}}</h2>

        <p class="blog-author">
	  <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.display_date }}
        </p>

        <div class="article-body">
	  {{post.content}}
        </div>
      </section>
      <section class="comments hide">
        <div class="responses">
	  {% for cmt in post.get_comments() %}
	  {% include "comment.twig" with {comment:cmt} %}
	  {% endfor %}
        </div>
        <div class="respond">
	  <h3 class="h2">Comentários</h3>
          <div class="hide">
	    {{ comment_form }}
          </div>
        </div>
      </section>

    </article>
    <aside class="large-3 columns">
      {{widgets}}
    </aside>
  </div> <!-- /content-wrapper -->
</div>
{% endblock %}